@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html, body { 
    height: 100%; 
    width: 100%;
}
body { 
    margin: 0; 
    overflow-x: hidden;
}
*{
    font-family: 'Rubik', sans-serif;
}