<div class="index-wrapper">
    <div class="index-buttons-wrapper">
        <button class="add-btn" id="test-btn" (click)="getCompanyData('Google')">
            Add Google Employees
        </button>
        <button class="add-btn" (click)="getCompanyData('Amazon')">
            Add Amazon Employees
        </button>
        <button class="add-btn" (click)="getCompanyData('Microsoft')">
            Add Microsoft Employees
        </button>
        <button class="add-btn" (click)="resetCompanyData()">
            Reset Company Data
        </button>
    </div>
</div>