.graph-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    .graph{
        height: 400px;
        width: 600px;
        canvas{
            height: 100%;
            width: 100%;
        }
    }
}